@model StudentCourseRegistrationFinal.Models.CourseModel

@{
    ViewBag.Title = "Detail";
}

<h2 style="text-align:center;">COURSE DETAILS</h2>
<p>
    @Html.ActionLink("Back", "DisplayCourses")
</p>
@using (Html.BeginForm("Detail", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <body background="C:\Users\Vindhya\Desktop\RegularPart-Time-Courses.jpg">
    </body>
    <table class="table table-bordered" style="border-color:black; background-color:lightyellow">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fees)
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                @Html.EditorFor(modelItem => modelItem.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CourseDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Fees)
            </td>
        </tr>


    </table>
}



